body {
  background: linear-gradient(
    90.3deg,
    rgb(255, 255, 255) 3%,
    rgb(235, 158, 98) 34.6%,
    rgb(177, 10, 10) 63.7%,
    rgb(0, 0, 0) 102%
  );

  height: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

h1 {
  text-align: center;
  margin: 10px, auto;
}
ul {
  font-size: 15px;
  color: rgb(119, 111, 111);
  padding-bottom: 20px;
}

li {
  list-style: none;
}

h4 {
  color: rgb(251, 128, 88);
  font-size: 16px;
}

h5 {
  color: rgb(95, 82, 82);
  font-size: 15px;
}

h6 {
  color: rgb(118, 110, 110);
  font-size: 14px;
  font-weight: 100;
}

p .future-dates-description {
  color: rgb(95, 82, 82);
  font-size: 15px;
  font-weight: 800;
}

p .temp-max {
  color: rgb(109, 101, 101);
  font-size: 15px;
  font-weight: 500;
}

p .temp-min {
  color: rgb(140, 136, 136);
  font-size: 14px;
}

footer {
  color: rgb(2, 46, 36);
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}

.container {
  padding: 20px 30px;
  max-width: 70%;
  margin-top: -20px;
}

.card {
  background-color: rgb(253, 244, 240);
  border-radius: 10px;
  box-shadow: 7px 7px 28px 7px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.small-card {
  background-color: rgb(253, 244, 240);
  border-radius: 10px;
  box-shadow: 7px 7px 28px 7px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  background-clip: border-box;
}

// need to check this one⬇️
.small-card .hover {
  background-color: rgba(203, 186, 204, 0.3);
  border: 1px solid rgba(203, 186, 204, 0.3);
}

.overview {
  border-radius: 40px;
  margin: auto;
  width: 500px;
}

.units {
  font-size: 15px;
  position: relative;
  top: -28px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active .hover {
  text-decoration: none;
}

.future-forcast {
  font-size: 14px;
}

#temperature {
  position: relative;
  margin: auto;

  color: rgb(253, 124, 85);
  font-size: 45px;
}

#searchForm {
  text-align: center;
  margin-top: 10px;
}

#city {
  font-size: 40px;
  text-align: center;
  color: rgb(254, 140, 102);
}

#celsius {
  text-decoration: none;
}

#fahrenheit {
  text-decoration: none;
}
